.library {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 20rem;
  height: 100vh;
  overflow: scroll;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
  h1 {
    padding: 1rem 1rem;
  }
}

.library-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
}

.library-hidden {
  transform: translateX(-100%);
  opacity: 0%;
}

.library-song {
  display: flex;
  align-items: center;
  flex-direction: left;
  padding: 1rem;
  img {
    height: 10vh;
  }
  &:hover {
    background-color: rgba(155, 155, 155, 0.1);
  }
}

.song-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
    font-weight: 300;
  }
}

.selected {
  border: 2px solid rgb(7, 248, 188);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  //   background-color: #1f79df;
  background-color: rgba(155, 155, 155, 0.4);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
