* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: rgb(250, 250, 250);
}

.library-active {
  padding-left: 30%;
}

.App {
  transition: all 0.5s ease;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
